<% if obj.errors.any? %>
  <div class="row">
      <h5> Please correct the following errors:</h5>
        <ul>
          <% obj.errors.full_messages.each do |msg| %>
                <div class="col span-1-of-3">
                  <li> <%= msg %></li>
                  </div>
                </ul>
                <% end %>
            </div>
            <% end %>
