<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Recipe Man","",class: "btn btn-lg btn-success", id:"logo" %>
    <div class="nav_item">
      <%= link_to "link_1", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
      <%= link_to "link_1", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
      <%= link_to "link_1", "", class: "btn btn-default btn-warning" %>
    </div>
  </div>
</header>
